<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Wordpress</title>
    <meta name="description" content="Wordpress">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>

   <header>
    <h1>nicolasbieva.be</h1>
    <nav>
        <ul>
            <li><a href="{{site.baseurl}}/index.html">Home</a></li>
            <li><a href="{{site.baseurl}}/works.html">Works</a></li>
        </ul>
    </nav>
    </header>
{{content}}

    <footer>
      footer
    </footer>
</body>
</html>